a:hover{
    
    color:red !important;
}
.main-btn {
    background-image: linear-gradient(45deg, #332fff, #9101bde8);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.top-banner {
    width: 100%;
    background: url(images/bg/bg-1.jpg) no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 ;
}
.top-banner h1 {
    color: rgb(138, 6, 23);
}
.about img {
    width: 80%;
}

.about {
    margin: 50px 0px;
}
.about p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}

.pink-bg {
    background-image: linear-gradient(45deg,blue,pink);
    color: white;
}